.App {
  text-align: center;
  background-image: url(./img/cardapio-burguer.jpeg);
  background-size: cover;
}

.App-header {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.searchBar {
  display: flex;
  margin-bottom: 20px;
}

.searchBar input {
  height: 30px;
  width: 350px;
  font-size: 25px;
  background-color: antiquewhite;
}

.searchBar button {
  font-size: 17px;
  height: 35px;
  background-color: aqua;
  color: blue;
}

.totalSale {
  background-color: rgba(24, 209, 107, 0.692);
  color: black;
  width: 200px;
  border: 1px solid rgba(41, 243, 58, 0.644);
  box-shadow: 2px 2px;
  margin-bottom: 20px;
}

@media (max-width: 786px) {
  .searchBar input {
    width: 300px;
  }
}
